# 计算交易指标：
## 一、 导入股票price基础数据

In [17]:
import pandas as pd

from util import location

example_data = location.read_from_csv(ts_code="600276.SH", root="../data_store/")
example_data

,ts_code,trade_date,open,high,low,close,pre_close,vol,amount
0,600276.SH,2000-10-18,26.88,28.45,26.50,27.70,11.98,271930.00,748996.054
1,600276.SH,2000-10-19,27.61,28.19,27.01,27.21,27.70,77476.00,214900.952
2,600276.SH,2000-10-20,26.98,27.88,26.30,27.75,27.21,51195.00,138248.375
3,600276.SH,2000-10-23,27.88,28.09,27.40,27.90,27.75,21437.00,59486.626
4,600276.SH,2000-10-24,27.98,28.56,27.61,28.28,27.90,26559.00,74935.642
...,...,...,...,...,...,...,...,...,...
4982,600276.SH,2021-07-12,63.50,64.50,62.99,63.12,62.10,599866.95,3823509.581
4983,600276.SH,2021-07-13,63.12,63.41,61.76,61.94,63.12,381454.68,2377792.672
4984,600276.SH,2021-07-14,61.70,61.80,60.00,60.11,61.94,676798.71,4079611.626
4985,600276.SH,2021-07-15,59.80,60.29,58.38,60.27,60.11,648061.22,3835157.908
4986,600276.SH,2021-07-16,60.27,60.27,59.00,60.10,60.27,450067.36,2675282.713

In [18]:
example_data.dtypes

ts_code               object
trade_date    datetime64[ns]
open                 float64
high                 float64
low                  float64
close                float64
pre_close            float64
vol                  float64
amount               float64
dtype: object

## 二、计算股票复权价格
1. 参考了很多数据，为了复权价格，我在尽可能的范围内将这个数据免费化
2. 所需要得数据包括但不限于：开、高、收、低
- 昨收（复权的价格：可从交易所直接得到的原始数据）
- 我们所需要的价格是实际交易的价格，而不是复权之后的价格，所以选择自己计算复权价


## 三、计算步骤：

1. 计算涨跌幅</br>
公式：pct_change = close / pre_close - 1

In [19]:
example_data["pct_change"] = example_data["close"] / example_data["pre_close"] - 1
example_data

,ts_code,trade_date,open,high,low,close,pre_close,vol,amount,pct_change
0,600276.SH,2000-10-18,26.88,28.45,26.50,27.70,11.98,271930.00,748996.054,1.312187
1,600276.SH,2000-10-19,27.61,28.19,27.01,27.21,27.70,77476.00,214900.952,-0.017690
2,600276.SH,2000-10-20,26.98,27.88,26.30,27.75,27.21,51195.00,138248.375,0.019846
3,600276.SH,2000-10-23,27.88,28.09,27.40,27.90,27.75,21437.00,59486.626,0.005405
4,600276.SH,2000-10-24,27.98,28.56,27.61,28.28,27.90,26559.00,74935.642,0.013620
...,...,...,...,...,...,...,...,...,...,...
4982,600276.SH,2021-07-12,63.50,64.50,62.99,63.12,62.10,599866.95,3823509.581,0.016425
4983,600276.SH,2021-07-13,63.12,63.41,61.76,61.94,63.12,381454.68,2377792.672,-0.018695
4984,600276.SH,2021-07-14,61.70,61.80,60.00,60.11,61.94,676798.71,4079611.626,-0.029545
4985,600276.SH,2021-07-15,59.80,60.29,58.38,60.27,60.11,648061.22,3835157.908,0.002662
4986,600276.SH,2021-07-16,60.27,60.27,59.00,60.10,60.27,450067.36,2675282.713,-0.002821

2. 计算复权因子：假设我们用单位1去购买了股票，最终会变成多少</br>
公式：$adj_factor = \prod{(1 + pct_change)}$

In [20]:
example_data["adj_factor"] = (1 + example_data["pct_change"]).cumprod()
example_data

,ts_code,trade_date,open,high,low,close,pre_close,vol,amount,pct_change,adj_factor
0,600276.SH,2000-10-18,26.88,28.45,26.50,27.70,11.98,271930.00,748996.054,1.312187,2.312187
1,600276.SH,2000-10-19,27.61,28.19,27.01,27.21,27.70,77476.00,214900.952,-0.017690,2.271285
2,600276.SH,2000-10-20,26.98,27.88,26.30,27.75,27.21,51195.00,138248.375,0.019846,2.316361
3,600276.SH,2000-10-23,27.88,28.09,27.40,27.90,27.75,21437.00,59486.626,0.005405,2.328881
4,600276.SH,2000-10-24,27.98,28.56,27.61,28.28,27.90,26559.00,74935.642,0.013620,2.360601
...,...,...,...,...,...,...,...,...,...,...,...
4982,600276.SH,2021-07-12,63.50,64.50,62.99,63.12,62.10,599866.95,3823509.581,0.016425,270.511670
4983,600276.SH,2021-07-13,63.12,63.41,61.76,61.94,63.12,381454.68,2377792.672,-0.018695,265.454576
4984,600276.SH,2021-07-14,61.70,61.80,60.00,60.11,61.94,676798.71,4079611.626,-0.029545,257.611795
4985,600276.SH,2021-07-15,59.80,60.29,58.38,60.27,60.11,648061.22,3835157.908,0.002662,258.297503
4986,600276.SH,2021-07-16,60.27,60.27,59.00,60.10,60.27,450067.36,2675282.713,-0.002821,257.568938